# 欠損値の補完

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('sample1_with_index.csv')

In [6]:
df.isnull().sum()
df.head()

,Unnamed: 0,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,0,1997-07-05,2291,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1,1997-07-06,506,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,NaN
2,2,1997-07-07,9629,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square
3,3,1997-07-08,6161,67,6.375209,5.756029,41.358007,61.453113,1.145311,green,square
4,4,NaN,8570,55,0.390629,3.578136,55.739709,NaN,1.037190,red,square

### DataFrameの使い方
 - loc:要素抽出(location)
 - iloc:index指定の要素抽出(index location)

In [5]:
df.iloc[:, 3:8].mean() # 行は全部, 列は3~7列目

Quantity    50.140000
Width        5.166867
Height       5.148354
Quality     50.039423
Score       51.022067
dtype: float64